<style type="text/css">
    #DatMua a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #DatMua a:hover {
            background-color: gray;
            color: red;
        }
</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center;color:red"> Chi Tiết Đồng Hồ </h2>
<div>
    <div style="width:40%; float:left; border-left:dotted 1px;border-color:azure">
        <img src="~/ImagesSP/@Model.Anhbia" width="100%" />
    </div>
    <div>
        <div style="width:60%; float:left; padding:10px;">
            <h4 style="font-weight:bold;color:red">Tên Đồng Hồ:@Model.Tendongho</h4>
            <p style="text-align:justify"><span style="font-weight:bold">Mô Tả:</span>@Model.Mota</p>
            <p style="font-weight:bold">
                Giá Bán:<span style="color:red;font-size:16pt">
                    @String.Format("{0:0,0}", Model.Giaban) VNĐ
                </span>
            </p>

        </div>
        <div>
            <div id="DatMua">
                <a href="@Url.Action("ThemGiohang","GioHang",new { @iMadongho= Model.Madongho  , @strUrl = Request.Url.ToString() }) ">
                    Đặt Mua
                </a>

            </div>
        </div>
    </div>
</div>

