@model IEnumerable<WEB_06.Models.LOAISP>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoLoaiSP","WEB_06", new { id = item.MaLoai })" class="list-group-item">
            @item.TenLoai
        </a>
    }
</div>

