
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="color:deepskyblue">Đơn hàng của quý khách đã được xử lý.Chúng tôi sẽ giao hàng trong thời gian sớm nhất và đúng hạn.Watch'Store xin cảm ơn và hẹn gặp lại quý khách !!</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "WEB_06")
</p>

