@using WEB_06.Models
@using PagedList.Mvc;
@model PagedList.PagedList<WEB_06.Models.CHITIETDONHANG>

@{
    ViewBag.Title = "Chitietdonhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:royalblue">QUẢN LÝ THÔNG TIN CHI TIẾT ĐƠN HÀNG</h2>


<table class="table">
    <tr>
        <th style="width:150px">Mã đơn hàng</th>
        <th style="width:150px">Số lượng</th>
        <th style="width:150px">Đơn giá</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaDonHang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoLuong)
    </td>
    <td>
        @String.Format("{0:0,0}", item.DonGia) VNĐ
    </td>
    
</tr>
    }

</table>

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Chitietdonhang", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
